<div>
  <form>
    <div class='mb-3'>
      <label for='shopName' class='form-label'>Email address</label>
      <input type='text' class='form-control' id='shopName' aria-describedby='emailHelp' />
      <div id='emailHelp' class='form-text'>店名</div>
    </div>
    <div class='mb-3'>
      <label for='shopName-en' class='form-label'>英文店名</label>
      <input type='text' class='form-control' id='shopName-en' />
    </div>
    <div class='mb-3'>
      <label for='category' class='form-label'>Password</label>
      <input type='text' class='form-control' id='category' />
    </div>
    <div class='mb-3'>
      <label for='location' class='form-label'>地址</label>
      <input type='text' class='form-control' id='location' />
    </div>
    <div class='mb-3'>
      <label for='phone' class='form-label'>電話</label>
      <input type='text' class='form-control' id='phone' />
    </div>
    <div class='mb-3'>
      <label for='location' class='form-label'>地址</label>
      <input type='text' class='form-control' id='location' />
    </div>
    <div class='mb-3'>
      <label for='description' class='form-label'>敘述</label>
      <textarea name='description' id='description' cols='30' rows='7'></textarea>
      <input type='textarea' class='form-control' id='description' />
    </div>
    <div class='mb-3 form-check'>
      <input type='checkbox' class='form-check-input' id='exampleCheck1' />
      <label class='form-check-label' for='exampleCheck1'>Check me out</label>
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
</div>